<h1>Login</h1>
<p>Por favor ingrese sus credenciales:</p>


<% if flash[:error] %>
	<div class="alert alert-danger" role="alert">
		<%= flash[:error] %>
	</div>
<% end %>

<%= form_for :session, url: login_path do |f| %>
	<div class="form-group form-inline">
	<%= f.label :user %><span style="margin: 119px"></span>
	<%= f.label :password %>
	<div></div>
		<%= f.text_field :user,:size => 30, class: "form-control", placeholder: "Usuario" %>
		<%= f.password_field :password, class: "form-control" %>
	</div>
	<div class="btn-group">
		<%= button_tag type: "submit", class: "btn btn-default" do %>
			<span class="fa fa-sign-in"></span>
			Login
		<% end %>
	</div>
<% end %>
