<tr>
  <td><%= employee.id %></td>
  <td><%= link_to employee.name, employee_path(employee.id) %></td>
  <td><%= employee.address %></td>
  <td><%= employee.primary_email %></td>
  <td><%= employee.secondary_email %></td>
  <td><%= employee.birth_at %></td>
  <td><%= employee.start_at %></td>
  <td><%= employee.user %></td>
  <td><%= employee.password_digest %></td>
  <td><%= employee.tipo %></td>
</tr>
