
<table border="1" class="table  table-striped" >
  <thead>
  <tr>
    <th>ID_CUENTA</th>
    <th>NOMBRE_CLIENTE</th>
    <th>SALDO</th>
    <th>FECHA_DE_CREACION</th>
    <th>ACTUALIZADO</th>
  </tr>
  </thead>

  <tbody><center>
    <td><%=account.id%></td>
    <td><%=account.name%></td>
    <td><%=account.balance%></td>
    <td><%=account.created_at%></td>
    <td><%=account.updated_at%></td>
  </center></tbody>
</table>
