<%= form_for(employee) do |f| %>
<center>
<div class="form-group form-inline" align="center" >
  <center><b><%= f.label :name, "Nombre :" %></b></center>
  <%= f.text_field :name, size: 25,  class: "form-control" %>
</div>

<div class="form-group form-inline" align="center">
  <center><%= f.label :address, "Direccion :" %></center>
  <%= f.text_field :address, size: 25, class: "form-control" %>
</div>

<div class="form-group form-inline" align="center">
  <center><%= f.label :primary_email, "Correo Primario :" %></center>
  <%= f.text_field :primary_email, size: 25, class: "form-control" %>
</div>

<div class="form-group form-inline" align="center">
  <center><%= f.label :secondary_email, "Correo Secundario :"%> </center>
  <%= f.text_field :secondary_email, size: 25, class: "form-control" %>
</div>

<div class="form-group form-inline" align="center">
  <center><%= f.label :birth_at, "Fecha de Nacimiento :" %></center>
  <%= f.date_field :birth_at, size: 25, class: "form-control" %>
</div>

<div class="form-group form-inline" align="center">
  <center><%= f.label :start_at, "Fecha de Ingreso :" %></center>
  <%= f.date_field :start_at, size: 25, class: "form-control" %>
</div>

<div class="form-group form-inline" align="center">
  <center><%= f.label :user, "Usuario :" %></center>
  <%= f.text_field :user, size: 25, class: "form-control" %>
</div>
<div class="form-group form-inline" align="center">
  <center><%= f.label :tipo, "Tipo :" %></center>
  <%= f.text_field :tipo, size: 25, class: "form-control" %>
</div>
<div class="form-group form-inline" align="center">
  <center><%= f.label :password, "Contraseña :" %></center>
  <%= f.password_field :password, size: 25, class: "form-control" %>
</div>
<div class="form-group form-inline" align="center">
  <center><%= f.label :password_confirmation, "Confirmar Contraseña :" %></center>
  <%= f.password_field :password_confirmation, size: 25, class: "form-control" %>
  </div>
  <br>
<div class="btn-group" role="group">
    <%= f.submit "SAVE" ,class: "btn btn-primary btn-lg btn-block" %>
    <%= link_to "CANCEL",employees_path, class: "btn btn-primary btn-lg btn-block" %>
</div></center>

<%end%>
